<!-- <h3> current time: {{ today }}</h3>
<button class="btn btn-primary" (click)="curTime()">console log now</button>
<button class="btn btn-primary" (click)="oneHour()">1 hour ago</button>
<button class="btn btn-primary" (click)="eightHours()">8 hours ago</button>
<h4> required format: YYYY-MM-DD HH:mm:ss </h4>
<h4> 1 ora fa:  {{ oneHourAgo }} </h4>
<h4> 8 ore fa:  {{ EightHoursAgo }} </h4> -->

<div>
  <button class="btn btn-success btn-sm" (click)="LukeBirthday()">Show Luke's Birthday</button>
  <button class="btn btn-secondary btn-sm" (click)="LeaBirthday()">Show Lea's Birthday</button>
  <button class="btn btn-primary btn-sm" (click)="HanBirthday()">Show Han's Birthday</button>
  <br>
  <h1>Birthday: {{ birthday }}</h1>
</div>
